<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dylanvann.fastimage"
    >
    <application>
        <meta-data
            android:name="com.dylanvann.fastimage.OkHttpProgressGlideModule"
            android:value="GlideModule"
            />
    </application>
</manifest>
